<p>
    PRODUCT LIST
  </p>
  
  <div>
    <img width="400" align="right" alt="products" src="assets/image/img2.jpg">
  </div>
  
  
  <div>
    <ul class="products">
      <li *ngFor="let product of products" (click)="onSelect(product)"><span class="badge">{{product.id}}</span> {{product.cname}}</li>
    </ul>
  </div>
  <div *ngIf="selectedProduct">
    <!-- <h2>{{selectedProduct.cname | uppercase}} Details</h2> -->
    <!-- <div><h3><span>id: </span>{{selectedProduct.id}}</h3></div> -->
    <div>
      <label><h3>Product name:
        {{selectedProduct.cname}}</h3>
      </label>
    </div>
  </div>
  
  
  <div *ngIf="selectedProduct">
    <div *ngIf="selectedProduct.id === 1">
      <img width="20%" align="center" alt="Glam" src="assets/image/lip.jpg">
    </div>
    <div *ngIf="selectedProduct.id === 2">
      <img width="20%" align="center" alt="Glam" src="assets/image/found.jpg">
    </div>
    <div *ngIf="selectedProduct.id === 3">
      <img width="20%" align="center" alt="Glam" src="assets/image/con.png">
    </div>
  </div>
  